@import url('https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro');
.header-mobile {
  display: none;
  background: #ffffff;
}
/* Clear Header Mobile */
body {
  width: 100%;
  min-height: 100%;
  background: #ffffff;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  -webkit-border-radius: 16px;
}
::-webkit-scrollbar-track-piece {
  background-color: #ffffff;
  -webkit-border-radius: 3px;
}
::-webkit-scrollbar-thumb:vertical {
  height: 5px;
  background-color: #666666;
  -webkit-border-radius: 3px;
}
::-webkit-scrollbar-thumb:horizontal {
  width: 5px;
  background-color: #666666;
  -webkit-border-radius: 3px;
}
/* ------------ Body ------------ */
header {
  background: #1e2327 url('img/bg.jpg') no-repeat;
  background-size: 100%;
  text-align: center;
  width: 100%;
  left: 0;
  top: 0;
}
header .header-title {
  width: 490px;
  height: auto;
  margin: 0 auto;
}
header .header-title h1 {
  color: #ffffff;
  font-size: 52px;
  font-family: "Open Sans";
}
header .header-title h2 {
  color: #9196a8;
  line-height: 1.5;
  font-size: 16px;
  font-family: "Open Sans";
}
header .header-title h3 {
  margin-top: 50px;
  color: #5d81b6;
  font-size: 16px;
  font-style: italic;
  font-family: "Open Sans";
}
.header-desktop {
  width: 100%;
  height: 140px;
  padding-top: 50px;
}
.header-desktop a .logo {
  float: left;
  width: 180px;
  height: 40px;
  padding-top: 4px;
  background-color: #ffffff;
  color: #000000;
  font-size: 20px;
  font-weight: 600;
  font-family: "Open Sans";
  text-decoration: none;
}
.header-desktop .header-phone-desktop {
  text-decoration: none;
  font-family: "Open Sans";
  padding-left: 24px;
  margin-right: 4%;
  font-size: 16px;
  margin-left: 4%;
  color: #6fa5f7;
  float: right;
  background: url('img/phone.png') no-repeat;
}
.header-desktop .header-nav-desktop {
  float: right;
  height: 40px;
}
.header-desktop .header-nav-desktop ul {
  margin-left: -70px;
}
.header-desktop .header-nav-desktop ul li {
  float: left;
  margin-left: 30px;
  list-style-type: none;
}
.header-desktop .header-nav-desktop ul li a {
  color: #797d8c;
  font-size: 20px;
  font-family: "Open Sans";
  text-decoration: none;
}
.header-desktop .header-nav-desktop ul li a:hover {
  color: #6fa5f7;
}
/* ------------ Header ------------ */
.header-form {
  width: 430px;
  margin: 0 auto;
}
.header-form input[name="name"] {
  font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: rgba(255, 255, 255, 0.1);
  background-image: url('img/form1.png');
  background-position: 10px 10px;
  border: 2px solid transparent;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  text-transform: uppercase;
  box-sizing: border-box;
  margin-bottom: 10px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 12px;
  width: 430px;
  float: left;
  color: #ffffff;
  outline: 0;
  -webkit-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}
.header-form input[name="name"]:focus {
  background-color: rgba(255, 255, 255, 0.2);
  background-image: url('');
  padding: 12px 20px 12px 20px;
}
.header-form input[name="email"] {
  font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: rgba(255, 255, 255, 0.1);
  background-image: url('img/form2.png');
  background-position: 10px 10px;
  border: 2px solid transparent;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  text-transform: uppercase;
  box-sizing: border-box;
  margin-bottom: 10px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 12px;
  width: 210px;
  float: left;
  color: #ffffff;
  outline: 0;
  -webkit-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}
.header-form input[name="email"]:focus {
  background-color: rgba(255, 255, 255, 0.2);
  background-image: url('');
  padding: 12px 20px 12px 20px;
}
.header-form input[name="phone"] {
  font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: rgba(255, 255, 255, 0.1);
  background-image: url('img/form3.png');
  background-position: 10px 10px;
  border: 2px solid transparent;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  text-transform: uppercase;
  box-sizing: border-box;
  margin-bottom: 10px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 12px;
  width: 210px;
  float: right;
  color: #ffffff;
  outline: 0;
  -webkit-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}
.header-form input[name="phone"]:focus {
  background-color: rgba(255, 255, 255, 0.2);
  background-image: url('');
  padding: 12px 20px 12px 20px;
}
.header-form input[name="mens"] {
  font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: rgba(255, 255, 255, 0.1);
  background-image: url('img/form4.png');
  background-position: 10px 10px;
  border: 2px solid transparent;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  text-transform: uppercase;
  box-sizing: border-box;
  margin-bottom: 10px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 12px;
  width: 430px;
  float: left;
  color: #ffffff;
  outline: 0;
  -webkit-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}
.header-form input[name="mens"]:focus {
  background-color: rgba(255, 255, 255, 0.2);
  background-image: url('');
  padding: 12px 20px 12px 20px;
}
.header-form input[class="bt"] {
  width: 430px;
  box-sizing: border-box;
  border: 2px solid transparent;
  border-radius: 4px;
  background-color: #6fa5f7;
  padding: 16px 0px 16px 0px;
  outline: 0;
  color: #ffffff;
  font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 60px;
  -webkit-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}
.header-form input[type=submit]:hover {
  background: #5b95ed;
}
.header-form ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #ffffff;
}
.header-form ::-moz-placeholder {
  /* Firefox 19+ */
  color: #ffffff;
}
.header-form :-ms-input-placeholder {
  /* IE 10+ */
  color: #ffffff;
}
.header-form :-moz-placeholder {
  /* Firefox 18- */
  color: #ffffff;
}
/* ------------ Formulário ------------ */
.macbook {
  width: 690px;
  height: 400px;
  margin: -10px auto;
  position: relative;
  background: url('img/mac.png') no-repeat;
}
.header-footer {
  width: 100%;
  height: 310px;
  background-color: #f8f8f8;
}
.header-footer .header-footer-center {
  height: 310px;
  margin: 0 auto;
  max-width: 1920px;
}
.header-footer .header-footer-center .border {
  border-left: 1px solid #dddddd;
}
.header-footer .header-footer-center .box {
  width: 25%;
  float: left;
  height: 100%;
  padding-top: 50px;
  background-color: #f8f8f8;
  border-right: 1px solid #dddddd;
}
.header-footer .header-footer-center .box h1 {
  color: #6fa5f7;
  font-size: 20px;
  text-align: center;
  font-family: 'SorceSanspro', Sans-Serif;
  font-weight: 600;
}
.header-footer .header-footer-center .box h2 {
  margin: 0 auto;
  color: #9196a8;
  max-width: 290px;
  line-height: 1.5;
  font-size: 16px;
  text-align: center;
  font-family: 'SorceSanspro', Sans-Serif;
}
.header-footer .header-footer-center .box .ficure {
  width: 120px;
  height: 120px;
  margin: 0 auto;
}
.header-footer .header-footer-center .box .first {
  background-image: url('img/footer-header1.png');
}
.header-footer .header-footer-center .box .second {
  background-image: url('img/footer-header2.png');
}
.header-footer .header-footer-center .box .third {
  background-image: url('img/footer-header3.png');
}
.header-footer .header-footer-center .box .fourth {
  background-image: url('img/footer-header4.png');
}
/* ------------ Header-Footer ------------ */
section .diferencial {
  width: 100%;
  height: auto;
  text-align: center;
  font-family: "Open Sans";
  padding: 40px 0 40px 0;
}
section .diferencial h1 {
  line-height: 1.5;
  color: #3b4048;
  font-size: 36px;
}
section .diferencial h2 {
  color: #9196a8;
  line-height: 1.5;
  font-size: 16px;
}
/* ------------ Section Diferencial ------------ */
article {
  max-width: 555px;
}
.blue {
  min-height: 450px;
  background: #3598c1 url('img/article-blue-bg.png') right bottom no-repeat;
}
.blue h1 {
  max-width: 100%;
  margin-top: 60px;
  padding-left: 60px;
  color: #ffffff;
  font-size: 36px;
  font-weight: 600;
  font-family: "Open Sans";
  text-decoration: none;
}
.blue h2 {
  margin-top: 40px;
  max-width: 440px;
  padding: 0 40px 0 60px;
  color: #ffffff;
  font-size: 16px;
  font-family: "Open Sans";
  text-decoration: none;
}
.blue .num-blue {
  width: 82px;
  height: 82px;
  display: table-cell;
  background-color: #68b2d1;
  color: #ffffff;
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  font-family: "Open Sans";
  text-decoration: none;
  vertical-align: middle;
}
.black {
  margin-top: 15px;
  min-height: 355px;
  background-color: #414a53;
}
.black h1 {
  max-width: 100%;
  margin-top: 60px;
  padding-left: 60px;
  color: #ffffff;
  font-size: 36px;
  font-weight: 600;
  font-family: "Open Sans";
  text-decoration: none;
}
.black h2 {
  margin-top: 40px;
  max-width: 440px;
  padding: 0 40px 0 60px;
  color: #ffffff;
  font-size: 16px;
  font-family: "Open Sans";
  text-decoration: none;
}
.black .num-black {
  width: 82px;
  height: 82px;
  display: table-cell;
  background-color: #71777e;
  color: #ffffff;
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  font-family: "Open Sans";
  text-decoration: none;
  vertical-align: middle;
}
.purple {
  min-height: 820px;
  background: #8161e7 url('img/article-purple-bg.png') right bottom no-repeat;
}
.purple h1 {
  max-width: 100%;
  margin-top: 60px;
  padding-left: 60px;
  color: #ffffff;
  font-size: 36px;
  font-weight: 600;
  font-family: "Open Sans";
  text-decoration: none;
}
.purple h2 {
  margin-top: 40px;
  max-width: 440px;
  padding: 0 40px 0 60px;
  color: #ffffff;
  font-size: 16px;
  font-family: "Open Sans";
  text-decoration: none;
}
.purple .num-purple {
  width: 82px;
  height: 82px;
  display: table-cell;
  background-color: #a189ed;
  color: #ffffff;
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  font-family: "Open Sans";
  text-decoration: none;
  vertical-align: middle;
}
/* ------------ Article ------------ */
footer {
  width: 100%;
  height: 150px;
  display: block;
  margin-top: 100px;
  background-color: #333b43;
  color: #9196a8;
  font-size: 14px;
  font-family: "Open Sans";
  text-decoration: none;
}
footer .left {
  float: left;
  font-size: 14px;
  margin-top: 60px;
  padding: 10px 20px 10px 20px;
}
footer .right {
  float: right;
  margin-top: 60px;
  padding: 10px 20px 10px 20px;
}
footer .right .footer-phone {
  float: left;
  width: 190px;
  padding-left: 30px;
  background: url('img/footer-phone.png') 2px 2px no-repeat;
}
footer .right .footer-mail {
  float: left;
  width: 260px;
  padding-left: 30px;
  background: url('img/footer-mail.png') 2px 2px no-repeat;
}
footer .right .footer-mail a {
  color: #9196a8;
  text-decoration: none;
}
footer .right .footer-social {
  float: left;
  width: 170px;
}
footer .right .footer-social #facebook {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  background: url('img/footer-facebook.png') no-repeat;
}
footer .right .footer-social #google {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  background: url('img/footer-google.png') no-repeat;
}
/* ------------ Footer ------------ */
